<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Update</title>
</head>
<body>
<app-navbar></app-navbar>
<div class="container">
  <div class="mx-auto w-75" style="max-width: 100%">
    <h1 class="text-center mb-3">Actualizar Usuario</h1>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <div class="form-row">
        <div class="col">
          <label for="nombre" class="form-label">Nombre</label>
          <input type="text" name="nombre" id="nombre" formControlName="nombre" class="form-control" [value]="user?.first_name" >
        </div>
        <div class="col">
          <label for="apellido" class="form-label">Apellido</label>
          <input type="text" name="apellido" id="apellido" formControlName="apellido" class="form-control" [value]="user?.last_name"  >
        </div>
        <div class="col">
          <label for="ci" class="form-label">CI</label>
          <input type="text" name="ci" id="ci" formControlName="ci" class="form-control" [value]="user?.username">
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="edad" class="form-label">Edad</label>
          <input type="number" name="edad" id="edad" formControlName="edad" class="form-control" [value]="user?.edad" >
        </div>
        <div class="col">
          <label for="sexo" class="form-label">Sexo</label>
          <input type="text" name="sexo" id="sexo" formControlName="sexo" class="form-control" [value]="user?.sexo"  >
        </div>
        <div class="col">
          <label for="correo" class="form-label">Correo</label>
          <input type="email" name="correo" id="correo" formControlName="correo" class="form-control" [value]="user?.email" >
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" name="password" id="password" formControlName="password" class="form-control" [value]="user?.password" >
        </div>
        <div class="col">
          <label for="Tipo_id" class="form-label">Tipo Usuario</label>
          <input type="text" name="Tipo_id" id="Tipo_id" formControlName="Tipo_id" class="form-control" [value]="user?.Tipo_id" >
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group text-center">
          <input type="submit" value="Guardar" class="btn btn-success w-25 mx-2" [disabled]="form?.invalid">
          <input type="submit" value="Cancelar" class="btn btn-danger w-25 mx-2" routerLink="/usuarios">
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>

