<body>
<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center mb-3">Test de {{users.first_name}} {{users.last_name}}</h1>
      <div class="button-position d-flex align-items-center">
        <button class="btn btn-success mb-3 me-3" (click)="$event.preventDefault(); exporter.exportTable('xlsx', {fileName: users.first_name + '_' + users.last_name + '_Informe_Ipp'})">Exportar</button>
        <mat-menu #appMenu="matMenu">
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/1">Razonamiento Verbal</button>
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/2">Razonamiento Numérico</button>
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/3">Razonamiento Abstracto</button>
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/4">Razonamiento Mecánico</button>
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/5">Razonamiento Espacial</button>
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/6">Ortografía</button>
          <button mat-menu-item routerLink="/informacionTest/{{users.id}}/7">Rapidez y Exactitud</button>
        </mat-menu>
        <!-- Botón vinculado al menú -->
        <button class="mb-3 me-3" mat-flat-button color="primary" [matMenuTriggerFor]="appMenu">DAT</button>
        <button class="mb-3 me-3" mat-flat-button color="primary" routerLink="/informacionIpp/{{users.id}}">IPP</button>
        <button class="mb-3 me-3" mat-flat-button color="primary" routerLink="/informacionTest/{{users.id}}">HSPQ</button>
        <button class="mb-3 me-3" mat-flat-button color="primary"  routerLink="/informacionEncuesta/{{users.id}}">Encuesta</button>

        <button class="btn btn-danger mb-3 me-3" routerLink="/usuarios/estudiantes">Volver</button>
        <div class="flex-grow-1"></div>
        <input class="form-control mb-3 custom-input" type="search" placeholder="Buscador" aria-label="Search">
      </div>

      <table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z15 mb-3" #exporter="matTableExporter">

        <ng-container matColumnDef="Pregunta">
          <th mat-header-cell *matHeaderCellDef style="width: 70%;">Pregunta</th>
          <td mat-cell *matCellDef="let respuesta">{{ getPreguntaName(respuesta.pregunta_id) }}</td>
        </ng-container>

        <ng-container matColumnDef="Categoria">
          <th mat-header-cell *matHeaderCellDef>Categoria</th>
          <td mat-cell *matCellDef="let respuesta">{{ respuesta.categoria}}</td>
        </ng-container>

        <ng-container matColumnDef="Opcion">
          <th mat-header-cell *matHeaderCellDef>Opcion</th>
          <td mat-cell *matCellDef="let respuesta">{{ getOpcionName(respuesta.opcion_id) }}</td>
        </ng-container>

        <!-- Columna Edad -->
        <ng-container matColumnDef="Valor">
          <th mat-header-cell *matHeaderCellDef>Valor</th>
          <td mat-cell *matCellDef="let respuesta">{{ respuesta.valor }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <div class="button-position d-flex align-items-center">
        <button class="me-3" mat-stroked-button color="primary"  (click)="openChartDialog()">Mostrar Gráfica</button>
        <button class="me-3" mat-stroked-button color="primary"  (click)="openChartDialogWithoutNumbers()">Mostrar Gráfica sin Números</button>

      </div>

      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users" (page)="onPageChange($event)"
                     [length]="dataSource.data.length" [pageSize]="5" showFirstLastButtons position="both">
      </mat-paginator>
    </div>
  </div>
</div>

</body>
