<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add user</title>
</head>
<body>
<app-navbar></app-navbar>
<div class="container">
  <div class="mx-auto w-75" style="max-width: 100%">
    <h1 class="text-center mb-3">Agregar Usuario</h1>
    <form [formGroup]="form" (ngSubmit)="addUser()">
      <div class="form-row">
        <div class="col">
          <label for="first_name" class="form-label">Nombre</label>
          <input type="text" name="first_name" id="first_name" formControlName="first_name" class="form-control" placeholder="Nombre" required>
        </div>
        <div class="col">
          <label for="last_name" class="form-label">Apellido</label>
          <input type="text" name="last_name" id="last_name" formControlName="last_name" class="form-control" placeholder="Apellido" required>
        </div>
        <div class="col">
          <label for="username" class="form-label">Carnet de Identidad</label>
          <input type="text" name="username" id="username" formControlName="username" class="form-control" placeholder="CI" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="edad" class="form-label">Edad</label>
          <input type="number" name="edad" id="edad" formControlName="edad" class="form-control" placeholder="Edad" required>
        </div>
        <div class="col">
          <label for="sexo" class="form-label">Sexo</label>
          <select name="sexo" id="sexo" formControlName="sexo" class="form-control" required>
            <option value="">Selecciona el sexo</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
          </select>
        </div>
        <div class="col">
          <label for="email" class="form-label">Correo</label>
          <input type="email" name="email" id="email" formControlName="email" class="form-control" placeholder="Correo" required>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <label for="password" class="form-label">Contraseña</label>
          <input type="password" name="password" id="password" formControlName="password" class="form-control" placeholder="Contraseña" required (keyup)="form.get('password')?.updateValueAndValidity()">
          <div *ngIf="form.get('password')?.errors?.['minlength']" class="text-danger">
            La contraseña debe tener al menos 10 caracteres.
          </div>
          <div *ngIf="form.get('password')?.errors?.['noSpecialChar']" class="text-danger">
            La contraseña debe contener al menos un carácter especial.
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col-md-12 form-group text-center">
          <input type="submit" value="Agregar" class="btn btn-success w-25 mx-2" [disabled]="!form.valid" (click)="addUser()">
          <input type="submit" value="Cancelar" class="btn btn-danger w-25 mx-2" routerLink="/usuarios">
        </div>
      </div>
    </form>
  </div>
</div>

</body>
</html>

