a{
  color: white;
  font-family: Arial;
}
.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;

}
.col {
  margin-right: 2%;
}
.container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 70%; /* Ocupa toda la altura de la ventana */
}
nav{
  background-color: #002244;
}
.nav-link:hover {
  color: #dad7d7; /* Cambia el color del texto al pasar el mouse */
}
#app .custom-snackbar {
  background-color: #0727c4;
  color: #a61122;
}

