table {
  width: 80%;
  /*max-width: 80%;*/
  /*min-width: 50%;*/
  margin: 0 auto;
}
.button-position{
  margin-left: 10%;
  display: flex;
  align-items: center;
}
.custom-input {
  width: 250px;
  margin-right: 11%;
  display: flex;
  align-items: center;
}




