.container {
  margin: auto;
  width: 70%;
  height: 97%;
  border-radius: 20px; /* Ajusta este valor para cambiar el radio de los bordes redondeados */
  box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.5); /* Ajusta estos valores para cambiar la apariencia de la sombra */
}
h1{
  color: white;
  text-align: center;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;
  margin: auto;
}
.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
nav{
   background-color: #002244;
 }
.nav-link:hover {
  color: #dad7d7; /* Cambia el color del texto al pasar el mouse */
}
form{
  font-size: 20px;
}
