<body>
  <div class="container">
    <div class="left">
      <label><i class="fa-brands fa-html5"></i>HTML</label>
      <textarea id="html-code" class="form-control"(keyup)="run()"></textarea>

      <label>CSS</label>
      <textarea id="css-code" class="form-control" (keyup)="run()"></textarea>

      <label>JavaScript</label>
      <textarea id="js-code" class="form-control" (keyup)="run()"></textarea>
    </div>
    <div class="right">
      <label>Output</label>
      <iframe id="output"></iframe>

    </div>
  </div>

</body>
